body {
  font-family: "Open Sans", helvetica, arial, sans-serif;
  background-color: #fff;
  color: #333;
}
span {
  text-align: left;
}

.imgg {
  text-align: center;
  padding-top: 97px;
  padding-bottom: 25px;

  padding-left: 25px;
}
.newer {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
}
input[type="text"] {
  width: 21%;
  height: 35px;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid rgb(175, 168, 162);
}
input[type="password"] {
  width: 21%;
  height: 35px;
  padding: 12px 10px;
  margin: 8px 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid rgb(175, 168, 162);
}
input[type="submit"] {
  width: 21%;
  height: 35px;
  background-color: rgb(66, 182, 228);
  border-radius: 5px;
  border: 1px solid black;
  color: white;
}
.center {
  margin: auto;
  text-align: center;
  border-width: 0px;
  padding: 16px;
  color: rgb(110, 110, 110);
  font-size: 15px;
  font-weight: bold;
}
.snter {
  position: relative;
  right: 85px;
}
.snters {
  position: relative;
  right: 100px;
}

.cente {
  margin: auto;
  padding: 10px;
  color: rgb(110, 110, 110);
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.lang {
  text-align: center;
  text-decoration: none;
  margin-top: 90px;
}
ul li {
  display: inline;
  color: black;
  text-decoration: none;
  padding: 12px;
}

a:link {
  text-decoration: none;
  color: rgb(110, 110, 110);
  font-size: 15px;
}
p {
  font-size: 10px;
}
.foter {
  margin-top: 100px;
}
